/node_modules
/public/hot
/public/storage
/public/pdf417code.png
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.vscode
docker/mysql/*
!mysql/README.md
!src/README.md
!nginx/README.md%
.DS_Store
